@model LogiHub.Web.Areas.Magazzino.SemiLavorati.ModificaSemiLavoratoViewModel

@{
    string jsIn = "var ub = document.getElementById('UbicazioneId'); ub.disabled = false; " +
                  "var az = document.getElementById('AziendaEsternaId'); az.disabled = true; az.value = ''; " +
                  "az.classList.remove('is-invalid'); az.classList.remove('is-valid');";

    string jsOut = "var az = document.getElementById('AziendaEsternaId'); az.disabled = false; " +
                   "var ub = document.getElementById('UbicazioneId'); ub.disabled = true; ub.value = ''; " +
                   "ub.classList.remove('is-invalid'); ub.classList.remove('is-valid');";
}

<form id="formModificaSemilavorato" class="needs-validation" asp-action="Modifica" asp-area="Magazzino"
      method="post" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id"/>

    @* Barcode *@
    <div class="mb-3">
        <label asp-for="Barcode" class="small text-muted d-block mb-1">Barcode:</label>
        <input asp-for="Barcode" class="form-control" required/>
        <div class="invalid-feedback">Codice Barcode obbligatorio</div>
        <span asp-validation-for="Barcode" class="text-danger"></span>
    </div>

    @* Descrizione *@
    <div class="mb-4">
        <label asp-for="Descrizione" class="small text-muted d-block mb-1">Descrizione:</label>
        <input asp-for="Descrizione" class="form-control" placeholder="Inserisci descrizione..." required/>
        <div class="invalid-feedback">Descrizione obbligatoria</div>
        <span asp-validation-for="Descrizione" class="text-danger small"></span>
    </div>

    <div class="row mb-4">
        <div class="col-md-6">
            <label asp-for="UbicazioneId" class="small text-muted d-block mb-1">Ubicazione:</label>
            <select asp-for="UbicazioneId"
                    asp-items="Model.UbicazioniList"
                    class="form-select"
                    id="UbicazioneId"
                    disabled="@(Model.Uscito ? "disabled" : null)">
                <option value="">-- Seleziona Ubicazione --</option>
            </select>
            <span asp-validation-for="UbicazioneId" class="text-danger small d-block mt-1"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="AziendaEsternaId" class="small text-muted d-block mb-1">In carico a:</label>
            <select asp-for="AziendaEsternaId"
                    asp-items="Model.AziendeList"
                    class="form-select"
                    id="AziendaEsternaId"
                    disabled="@(!Model.Uscito ? "disabled" : null)">
                <option value="">-- Seleziona Azienda --</option>
            </select>
            <span asp-validation-for="AziendaEsternaId" class="text-danger small d-block mt-1"></span>
        </div>
    </div>

    <label class="d-block small text-muted mb-2">Stato Semilavorato:</label>
    <div class="col-12 col-md-9">
        <div class="btn-group w-100" role="group">

            @* In Magazzino -> Esegue jsIn *@
            <input type="radio" class="btn-check" asp-for="Uscito" value="false" id="StatoIn" onchange="@jsIn">
            <label class="btn btn-outline-success w-50" for="StatoIn">
                <i class="fas fa-warehouse me-2"></i>In Magazzino
            </label>

            @* Uscito -> Esegue jsOut *@
            <input type="radio" class="btn-check" asp-for="Uscito" value="true" id="StatoOut" onchange="@jsOut">
            <label class="btn btn-outline-danger w-50" for="StatoOut">
                <i class="fas fa-truck-loading me-2"></i>Uscito
            </label>
        </div>
    </div>


    <hr class="my-4"/>

    <div class="d-flex justify-content-end mt-4 gap-3">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save me-2"></i>Salva Modifiche
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Annulla</button>
    </div>
</form>