<!DOCTYPE html>
<html lang="@this.CurrentCulture().Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/png" href="~/images/icona.png" />
    @RenderSection("googlehead", false)
    @RenderSection("metas", false)

    <link href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css"
          asp-append-version="true"
          rel="stylesheet" />

    <link href="~/css/bundle-global.min.css"
          asp-append-version="true" rel="stylesheet" />

    @RenderSection("styles", false)
</head>

<body class="min-vh-100 d-flex flex-column">

    <header class="py-3">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <h1 class="m-0 d-flex align-items-center">
                    <img src="~/images/icona.png" alt="Logo" height="40" class="me-2" />
                    LogiHub
                </h1>
            </div>
        </div>
    </header>

    <main class="flex-fill d-flex align-items-center justify-content-center">
        @RenderBody()
    </main>

    <script type="text/javascript">
        var clientLocale = '@this.CurrentCulture().Name';
    </script>

    <environment include="Development">
        <script src="~/js/bundle-global.js" asp-append-version="true"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="~/js/bundle-global.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", false)
</body>
</html>
